
<div class="bs-example">
  <div id="myCarousel" class="carousel slide" data-interval="6500" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    
    <div class="carousel-inner">
      <div class="active item carousel-fade main-slide">
        <div class="carousel-caption">
            <h1 class="site-title">EcoLife</h1>
          <h2>The world has too much waste already here you can find stores in your city with zero or minimal waste</h2>
        </div>
      </div>

      <div class="item carousel-fade middle-slide">
        <h2 class="home-title middle-title">Find grocerie stores with no packaging or minimal packaging in your city</h2>
       
            <button [routerLink]="['/stores']"class="main-btn" name="button">Start Making A Difference</button>
       
      </div>

      <div class="item carousel-fade third-slide">
        <h2>Slide 3</h2>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

  <!-- <div class="picroll">
    <div class="picroll-content">
    <img class="fruit-sqr" src= "assets/imgs/fruit-square.jpg">
    </div>
    <div class="picroll-content">
    <img class="fruit-sqr" src= "assets/imgs/square2.jpg">
    </div>
    <div class="picroll-content">
    <img class="fruit-sqr" src= "assets/imgs/square3.jpg">
    </div>
    <div class="picroll-content">
    <img class="fruit-sqr" src= "assets/imgs/square4.jpg">
  </div>-->

  <br> 

 <section class="about">
  <h1>About</h1>
  <h4>The average person makes 4.3 pounds per day which is equal to 1569.5 pounds per person per year. 
    If everyone tried to minimize their waste even by something as little as cutting out plastic bags and switching to reusable bags we can make a significant change in our enviroment.
    In this page you have the power to search for stores with minimal or non packaging.
   <strong>So, Will you be a world changer?</strong>
  </h4>
</section> 

<!--<div class="gallery">
<div class="gallery-cell">
  <img src="assets/imgs/fruits.jpg" alt="orange tree" />
</div>
<div class="gallery-cell">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
</div>
<div class="gallery-cell">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" /> -->

