.site-title{
  font-family: 'Kavivanar';
  text-decoration: none;
  letter-spacing: 2px;
}
.side-link{
  text-align:left;

}

.site-title{
  
  font-family: 'Kavivanar';
  letter-spacing: 1px;
  font-size: 1em;
}