

<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/imgs/earth-heart.png" width="30" height="30" class="d-inline-block align-top heart-logo" alt="">
    <h1 class="site-title"><a [routerLink]="['/']"></a>EcoLife</h1>
  </a> -->

 
<nav id="site-header">
 <img class="heart-logo " align="left" src="/assets/imgs/earth-heart.png">
  <div class="container">
    <h1 class="site-title" align="left" ><a [routerLink]="['/']">EcoLife</a></h1> 
    <a class ="side-link" [routerLink]="['/stores']">Grocerie Stores</a>
    
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a [routerLink]="['/profile']">{{user.username}}</a>
        <a (click)="logout()">logout</a>
      </div>
      <div class = "header-log"*ngIf="!loading && anon">
        <a [routerLink]="['/login']">login</a>
        <a [routerLink]="['/signup']">signup</a>
      </div>
    </div>
  </div>
  <hr>
  </nav>
  



    <div id="site-main">
      <router-outlet></router-outlet>
    </div>

<footer id="site-footer">
  <div class="container site-title">
     <p> &copy 2018 EcoLife</p>
  </div>