<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
<div *ngIf="store" class="container row articles">

  <article class="articleShort articleMain">
    <div class="card">
      <div class="card-image">
        <a href="#" title="title here">
          <img [src]="store.picUrl" alt="alt here"> 
        </a>
      </div>
      <div class="card-content">
        <h3> <a [routerLink]="['/store/detail', store._id]">{{store.name}}</a></h3>
        
        <p>{{store.about}}</p>
        
        <!-- <a  class="fav-btn " (click)="addToFavorites()"></a> -->
        
        <label (click)="addToFavorites()" for="id-of-input" class="custom-checkbox">
          <input type="checkbox" id="id-of-input"/>  
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star"></i>
        </label>

      </div>
    </div>
  </article>      
</div>
    
<div *ngIf="!store">
  ... loading
</div>
         